name: Deploy

on:
  pull_request:

  push:
    branches:
    - master

    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: write

jobs:
  test:
    name: cargo test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo fmt --check
      - run: cargo clippy --all-targets --no-default-features -- -D warnings
      - run: cargo clippy --all-targets --all-features -- -D warnings
      - run: cargo test --workspace --no-default-features
      - run: cargo test --workspace --all-features
